#container{
    /* background: rgb(152, 255, 49); */
    width: 222px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

body{
    background: rgb(70, 127, 233);
}

input{
    border-radius: 5px;
    border-style: 1px black solid;
    width: 180px;
    height: 25px;
}

button {
    margin-left: 10px;
    height: 28px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px black solid;
    border-radius: 5px;
}

#imgs{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-color: rgb(53, 184, 53);
    border-width: 3px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
